<section id="Contact" class="p-0 py-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 px-3">
        <div class="contact_form p-3">
          <div class="section_head py-3">
            <h3 class="fw-bold text-dark">Get In Touch</h3>
            <p>Let's work together.</p>
          </div>
          <form action="" method="post">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Your Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Your Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-info text-white py-2 px-4">Send Message</button>
            </form>
          </form>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="location overflow-hidden text-center rounded rounded-3">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d659076.3400160264!2d6.6937375050152825!3d49.813948406825276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479545b9ca212147%3A0x64db60f602d392ef!2z2YTZiNmD2LPZhdio2YjYsdi6!5e0!3m2!1sar!2seg!4v1642094458402!5m2!1sar!2seg"
            width="800" height="600" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
