.clients {
  background-color: #ebebeb;


  .header {
    h2 {
      font-weight: bold;

    }

    .line {
      width: 100px;
      height: 5px;
      background-color: #A96AE9;
      transition: all 0.5s;
      border-radius: 10px;

    }

    &:hover .line {
      width: 150px;
    }
  }


  .swiper {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    direction: rtl !important;
  }

  .swiper-slide {
    width: 300px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    .date {
      width: 100%;
      background-color: #F3F5FD;
      border-radius: 10px;
      overflow: hidden;

      .date-img {
        width: 100%;

        img {
          width: 100%;
        }

        &:hover {
          cursor: grab;
        }
      }
    }
  }
}
