<div id="clients" class="clients bg-light py-5">
  <div class="container">
    <div class="row text-center header">
      <h2>{{"clients" | translate}}</h2>
      <div class="line mx-auto">
      </div>
    </div>
    <div class="row py-5">
      <swiper [slidesPerView]="'auto'" [spaceBetween]="20" [loop]="true" [autoplay]="{
        delay: 2000,
        disableOnInteraction: false
      }" [centeredSlides]="true" class="swiper">
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/clients/client_1.png" alt="nebbras clients">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/clients/client_2.png" alt="nebbras clients">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/clients/client_3.png" alt="nebbras clients">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/clients/client_4.png" alt="nebbras clients">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/clients/client_5.png" alt="nebbras clients">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/clients/client_6.png" alt="nebbras clients">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/clients/client_7.png" alt="nebbras clients">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/clients/client_8.png" alt="nebbras clients">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/clients/client_9.png" alt="nebbras clients">
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/clients/client_10.png" alt="nebbras clients">
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
