<div class="clients bg-light py-5">
  <div class="container">
    <div class="row text-center">
      <h2>Clients</h2>
    </div>
    <div class="row project-images py-5">
      <swiper [slidesPerView]="'auto'" [spaceBetween]="10" [loop]="true" [autoplay]="{
        delay: 2000,
        disableOnInteraction: false
      }" [centeredSlides]="true" class="swiper">
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/imagesoon.png" alt="image soon">
            </div>

          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/imagesoon.png" alt="image soon">
            </div>

          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/imagesoon.png" alt="image soon">
            </div>

          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/imagesoon.png" alt="image soon">
            </div>

          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/imagesoon.png" alt="image soon">
            </div>

          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/imagesoon.png" alt="image soon">
            </div>

          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/imagesoon.png" alt="image soon">
            </div>

          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/imagesoon.png" alt="image soon">
            </div>

          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/imagesoon.png" alt="image soon">
            </div>

          </div>
        </ng-template>
        <ng-template swiperSlide class="swiperSlide">
          <div class="date">
            <div class="date-img">
              <img src="../../../assets/images/imagesoon.png" alt="image soon">
            </div>

          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
