#about {
  .row {
    .about-image {
      border-radius: 15px;
      overflow: hidden;
    }

    .about-caption {
      .header {
        h2 {
          font-weight: 600;
          font-size: 26px;

        }

        .line {
          width: 90px;
          height: 5px;
          background-color: #A96AE9;
          transition: all 0.5s;
          border-radius: 10px;
          margin: 0 10px;

        }

        &:hover .line {
          width: 120px;
        }
      }
    }
  }
}
