<section id="Support" class="py-5 px-3">
  <div class="container">
    <div class="row pt-3">
      <img src="../../../assets/images/complete_logo.png" alt="Nebbras Professional Consulting">
    </div>
    <div class="row py-5">
      <div class="col-sm-4">
        <div class="info">
          <h4>{{"main-list" | translate}}</h4>
          <ul>
            <li><a href="#home">{{"home" |translate}}</a></li>
            <li><a href="#about">{{"about-us" |translate}}</a></li>
            <li><a href="#projects">{{"projects" |translate}}</a></li>
            <li><a href="#clients">{{"clients" |translate}}</a></li>
            <li><a href="#contact">{{"contact-us" |translate}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info">
          <h4>{{"contact-info" | translate}}</h4>
          <p>1650 Lombard Street,<br> San Francisco, CA 94123</p>
          <p>054 266 7727</p>
          <p>info@nebbrasc.com</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="info">
          <h4>{{"nebras" | translate}}</h4>
          <p>1650 Lombard Street,<br> San Francisco, CA 94123</p>
          <p><strong>{{"mobile" | translate}} : </strong>054 266 7727</p>
          <p><strong>{{"mail" | translate}} : </strong>info@nebbrasc.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="footer-text">
          <p> {{"copy-msg" | translate}} | <a href="https://exas2030.com/" target="_blank">EXAS</a> © 2023 </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="footer-icons">
          <ul class="list-unstyled me-auto ">
            <li><a href="#"><i class="fab fa-twitter "></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
            <li><a href="#"><i class="fab fa-instagram "></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in "></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
