#Support {
  background-color: #222;
  background-image: url("../../../assets/images/dotted-map.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;

  .container {
    .row img {
      width: 200px;
      margin: auto;
    }

    .row {
      h4 {
        color: #fff;
        margin: 30px 0;
      }

      p {
        color: #b0b0b0;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 6px 0;

          a {
            color: #b0b0b0;
            text-decoration: none;
            transition: all 0.4s;

            &:hover {
              color: #A96AE9;
            }
          }
        }
      }
    }
  }
}

/////////////////////
footer {
  background-color: #1a1a1a;

  .container {
    .row {
      .footer-text {
        p {
          color: #b0b0b0;
          margin-top: 10px;

          a {
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            transition: all 0.3s;

            &:hover {
              color: #A96AE9 !important;
            }
          }
        }
      }

      .footer-icons {
        ul {
          display: flex;
          justify-content: end;
          align-items: center;

          li {
            margin: 10px 10px 0 10px;

            i {
              color: #fff;
              transition: all 0.3s;
            }

            &:hover i {
              color: #A96AE9 !important;
            }
          }
        }


      }
    }
  }
}

/* start small screen */
@media screen and (max-width: 576px) {
  .footer-icons ul {
    justify-content: center !important;
  }

  .footer-text {
    text-align: center !important;
  }
}

/* end small screen */
