<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../../assets/images/complete_logo.png" alt="Nebbras"></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" id="toggler" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" id="canvas" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i
            class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 me-3 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{"home" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#About">{{"about-us" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Team">{{"projects" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Services">{{"clients" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Blog">{{"contact-us" | translate}}</a>
        </li>
      </ul>
      <div class="mob-languages languages">
        <button class="lang" (click)="getEnglish()" *ngIf="currentLanguage == 'ar'">en</button>
        <button class="lang" (click)="getArabic()" *ngIf="currentLanguage == 'en'">ar</button>
      </div>
    </div>
    <div class="desc-languages languages">
      <button class="lang" (click)="getEnglish()" *ngIf="currentLanguage == 'ar'">en</button>
      <button class="lang" (click)="getArabic()" *ngIf="currentLanguage == 'en'">ar</button>
    </div>
  </div>
</nav>
