<div class="row grades py-5">
  <div class="col-sm-6 col-md-3 p-3 text-center">
    <div class="item">
      <h3>10 +</h3>
      <p>{{"year-experience" | translate}}</p>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 p-3 text-center">
    <div class="item">
      <h3>250 +</h3>
      <p>{{"happy-clients" | translate}}</p>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 p-3 text-center">
    <div class="item">
      <h3>50 +</h3>
      <p>{{"projects-done" | translate}}</p>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 p-3 text-center">
    <div class="item">
      <h3>38</h3>
      <p>{{"get-awards" | translate}}</p>
    </div>
  </div>
</div>
